<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VetProj.Properties.Settings.VetSisConnectionString"
            connectionString="Server=ABDURRAHIMAYAZ\SQLEXPRESS;Database=VETSIS;Trusted_Connection=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>